* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.h-100 {
  height: 100%;
}

.font-700 {
  font-weight: 700;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  background-image: url("../img/bg-pattern-top-desktop.svg"),
    url("../img/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
}

img {
  max-width: 100%;
}

.container {
  width: 90vw;
  max-width: 1400px;
  margin: auto;
}

.grid-container {
  display: grid;
  margin-top: 15vh;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8vw;
  margin-bottom: 10vh;
}

.big-heading {
  font-size: 3rem;
  color: hsl(300, 43%, 22%);
  margin-bottom: 2vh;
  line-height: 3rem;
}

.explanation {
  color: hsl(302, 44%, 25%);
  line-height: 1.5rem;
  width: 90%;
}

.star-container {
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5vh;
}

.star {
  width: 32vw;
  max-width: 700px;
  height: 8vh;
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 2vh;
  padding: 3vh 2vw;
  border-radius: 7px;
}

.star-2 {
  margin-left: 2.5vw;
}

.star-3 {
  margin-left: 5vw;
}

.rate {
  padding-left: 1.5vw;
  color: hsl(300, 43%, 22%);
}

.opinion {
  font-size: 13px;
  margin-bottom: 4vh;
}

.box {
  background-color: hsl(300, 43%, 22%);
  margin-right: 2vw;
  border-radius: 10px;
  padding: 3vh 2.1vw;
}

.image {
  width: 50px;
  margin-right: 0.8vw;
}

.image img {
  border-radius: 50%;
  width: 80%;
}

.name-type {
  align-self: center;
}

.name {
  color: hsl(0, 0%, 100%);
  margin-bottom: 0.5vh;
}

.type {
  color: hsla(0, 0%, 100%, 0.4);
}

.customer-opinion {
  padding-top: 3.5vh;
  color: hsl(0, 0%, 93%);
  line-height: 3vh;
}

.box-2 {
  margin-top: 3vh;
}

.box-3 {
  margin-right: 0;
  margin-top: 6vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(300, 43%, 22%);
}

@media screen and (max-width: 768px) {
  body {
    background-image: url("../img/bg-pattern-top-mobile.svg"),
      url("../img/bg-pattern-bottom-mobile.svg");
  }

  .text-center {
    text-align: center;
  }

  .ml-0 {
    margin-left: 0;
  }

  .dsp-block {
    display: block;
  }

  .container {
    max-width: 90vw;
  }

  .grid-container {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }

  .big-heading {
    font-size: 2rem;
    margin-bottom: 4vh;
    line-height: 2rem;
  }

  .explanation {
    line-height: 3.7vh;
    width: 100%;
    color: hsl(303, 10%, 53%);
  }

  .star-container {
    margin-top: 6vh;
    margin-bottom: 8vh;
  }

  .star {
    width: 100%;
    height: 100%;
    padding: 3vh 2vw 2vh 2vw;
  }

  .five-star {
    padding-bottom: 1.2vh;
  }

  .box {
    margin-right: 0;
    padding: 4.3vh 9vw;
  }

  .image {
    width: 13vw;
    margin-right: 3vw;
  }

  .customer-opinion {
    line-height: 3.4vh;
  }

  .box-3 {
    margin-top: 3vh;
  }
  
  .attribution{
    margin-bottom: 7vh;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .explanation,
  .customer-opinion {
    line-height: 2.5vh;
  }
  .opinion {
    margin-bottom: 1.5vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1270px) {
  .star-container .flex {
    flex-direction: column;
  }

  .rate {
    padding-left: 0;
  }

  .star:nth-child(1),
  .star:nth-child(3) {
    padding: 2.5vh 2vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 837px) {
  .star:nth-child(2) {
    padding: 1.5vh 2vw;
  }
}

@media screen and (min-width: 838px) and (max-width: 1270px) {
  .star:nth-child(2) {
    padding: 2.5vh 2vw;
  }
}

@media screen and (min-width: 1315px) and (max-width: 1500px) {
  .content {
    padding-right: 3vw;
    padding-top: 2vh;
  }
  .star-container {
    margin-right: 7vw;
  }
}
